<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref=""></ion-back-button>
        </ion-buttons>
        <ion-title>{{todoList?.title}} <b class="ion-float-end">{{doneCounter}}</b></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-list-header>
            <ion-text>TODO</ion-text>
        </ion-list-header>
        <ion-item-sliding *ngFor="let task of tasks$ | async">
            <ion-item *ngIf="task.isDone==false || !task.isDone">
                <ion-label>{{task.name}}</ion-label>
                <ion-checkbox slot="start" (ionChange)="toogleIsDone(task)" [(ngModel)]="task.isDone"></ion-checkbox>
            </ion-item>

            <ion-item-options side="end">
                <ion-item-option (click)="deleteTask(task?.id)" color="danger" expandable>
                    Delete
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>

    <ion-list>
        <ion-list-header>
            <ion-text>DONE</ion-text>
        </ion-list-header>
        <ion-item-sliding *ngFor="let task of tasks$ | async">
            <ion-item *ngIf="task.isDone==true">
                <ion-label color="medium" class="task-done">{{task.name}}</ion-label>
                <ion-checkbox color="medium" slot="start" (ionChange)="toogleIsDone(task)" [(ngModel)]="task.isDone">
                </ion-checkbox>
            </ion-item>

            <ion-item-options side="end">
                <ion-item-option (click)="deleteTask(task?.id)" color="danger" expandable>
                    Delete
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>

<ion-footer>
    <ion-toolbar>

        <ion-input class="ion-margin-horizontal addnewtask" [(ngModel)]="newTaskName" required clearInput
            placeholder="New task"></ion-input>
        <ion-buttons class="ion-margin-horizontal" slot="primary">
            <ion-button (click)="addTask()" color="primary" fill="clear">
                Add task
                <ion-icon slot="end" name="add-circle"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>