<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref=""></ion-back-button>
        </ion-buttons>

        <ion-grid>
            <ion-row>
                <ion-title>{{todoList?.title}} </ion-title>
                <ion-button fill="none" [routerLink]="['share']">
                    <ion-icon slot="icon-only" name="person-add"></ion-icon>
                </ion-button>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-header>


<ion-content class="ion-text-center" *ngIf="!tasks || tasks.length==0">
    <div class="ion-margin-vertical">
        <p>This list is empty!</p>
        <p>You can add a new task bellow.</p>
        <ion-icon size="large" name="happy"></ion-icon>
    </div>
</ion-content>

<ion-content *ngIf="tasks && tasks.length>0">
    <ion-list>
        <ion-list-header>
            <ion-text>TODO</ion-text>
        </ion-list-header>
        <ion-item-sliding *ngFor="let task of tasks">
            <ion-item *ngIf="task.isDone==false || !task.isDone">
                <ion-label>{{task.name}}</ion-label>
                <ion-checkbox slot="start" (ionChange)="toogleIsDone(task)" [(ngModel)]="task.isDone"></ion-checkbox>
            </ion-item>

            <ion-item-options side="end">
                <ion-item-option (click)="deleteTask(task?.id)" color="danger" expandable>
                    Delete
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>

    <ion-list>
        <ion-list-header>
            <ion-text>DONE</ion-text>
            <ion-text class="ion-margin-end"><b>{{doneCounter}}</b></ion-text>
        </ion-list-header>
        <ion-item-sliding *ngFor="let task of tasks">
            <ion-item *ngIf="task.isDone==true">
                <ion-label color="medium" class="task-done">{{task.name}}</ion-label>
                <ion-checkbox color="medium" slot="start" (ionChange)="toogleIsDone(task)" [(ngModel)]="task.isDone">
                </ion-checkbox>
            </ion-item>

            <ion-item-options side="end">
                <ion-item-option (click)="deleteTask(task?.id)" color="danger" expandable>
                    Delete
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>

<ion-footer>
    <ion-toolbar>

        <ion-input class="ion-margin-horizontal addnewtask" [(ngModel)]="newTaskName" required clearInput
                   placeholder="New task"></ion-input>
        <ion-buttons class="ion-margin-horizontal" slot="primary">
            <ion-button (click)="addTask()" color="primary" fill="clear">
                Add task
                <ion-icon slot="end" name="add-circle"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>
