<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref=""></ion-back-button>
        </ion-buttons>
        <ion-title>{{todoList?.title}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>
        <ion-item-sliding *ngFor="let task of tasks$ | async">
            <ion-item>
                <ion-label>{{task.name}}</ion-label>
                <ion-checkbox slot="start" (ionChange)="toogleIsDone(task)" [(ngModel)]="task.isDone"></ion-checkbox>
            </ion-item>

            <ion-item-options side="end">
                <ion-item-option (click)="deleteTask(task?.id)" color="danger" expandable>
                    Delete
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>


</ion-content>

<ion-footer>
    <ion-toolbar>

        <ion-input class="ion-margin-horizontal addnewtask" [(ngModel)]="newTaskName" clearInput placeholder="New task" ></ion-input>
        <ion-buttons class="ion-margin-horizontal" slot="primary">
            <ion-button (click)="addTask()" color="primary" fill="clear">
                Add task
                <ion-icon slot="end"  name="add-circle"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>
