<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref=""></ion-back-button>
        </ion-buttons>
        <ion-title>Shared list: <b>My list name here</b></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form (ngSubmit)="addSharedUserToList()" [formGroup]="addSharedUser">
        <ion-card>
            <ion-card-header>
                <ion-text>Share this list with other people using their email address</ion-text>
            </ion-card-header>

            <ion-card-content>
                <ion-item>
                    <ion-label position="stacked">User email</ion-label>
                    <ion-input required type="text" name="title" formControlName="newSharedUser" placeholder="todo@gmail.com"></ion-input>
                </ion-item>
                <div class="ion-margin-vertical">
                    <ion-button expand="block" type="submit" color="primary" [disabled]="!addSharedUser.valid">
                        Add to list
                    </ion-button>
                </div>
            </ion-card-content>
        </ion-card>
    </form>


    <ion-list>
        <ion-list-header>
            <ion-text>User can edit</ion-text>
        </ion-list-header>
        <ion-item-sliding *ngFor="let user of fakeListOfUsers">
            <ion-item>
                <ion-label>{{user.email}}</ion-label>
                <ion-toggle slot="start" color="primary" (ionChange)="toogleCanEdit(user)" [(ngModel)]="user.canEdit"></ion-toggle>
            </ion-item>

            <!--          //*ngIf="user.canEdit==true"-->

            <ion-item-options side="end">
                <ion-item-option (click)="deleteSharedUser(user?.id)" color="danger" expandable>
                    Delete
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>

</ion-content>
