<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref=""></ion-back-button>
        </ion-buttons>
        <ion-title>{{todoList?.title}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form (ngSubmit)="addUserToList()" [formGroup]="addSharedUser">
        <ion-card>
            <ion-card-header>
                <ion-text>Share this list with other people using their email address</ion-text>
            </ion-card-header>

            <ion-card-content>
                <ion-item>
                    <ion-label position="stacked">User email</ion-label>
                    <ion-input required type="text" name="title" formControlName="email" placeholder="todo@gmail.com">
                    </ion-input>
                </ion-item>
                <div class="ion-margin-vertical">
                    <ion-button expand="block" type="submit" color="primary" [disabled]="!addSharedUser.valid">
                        Add to list
                    </ion-button>
                </div>
            </ion-card-content>
        </ion-card>
    </form>


    <ion-list>
        <ion-list-header>
            <ion-text>User can edit</ion-text>
        </ion-list-header>
        <ion-item-sliding *ngFor="let member of todoList?.members | keyvalue">
            <div *ngIf="member">
                <ion-item>
                    <ion-label>{{member?.value.email}}</ion-label>
                    <ion-toggle slot="start" color="primary" (ionChange)="toogleCanEdit(member.key, member.value)"
                        [(ngModel)]="member.value.canEdit"></ion-toggle>
                </ion-item>
                <ion-item-options side="end">
                    <ion-item-option (click)="deleteUserFromList(member.key)" color="danger" expandable>
                        Delete
                    </ion-item-option>
                </ion-item-options>
            </div>
        </ion-item-sliding>
    </ion-list>

    <ion-content class="ion-text-center" *ngIf="!todoList?.members || (todoList?.members | json) == '{}'">
        <div class="ion-margin-vertical">
            <p>This list is not shared with anyone!</p>
            <p>You can share it by entering an email adress above.</p>
            <ion-icon size="large" name="happy"></ion-icon>
        </div>
    </ion-content>

</ion-content>
