<div class="background-white" *ngIf="theme==='background-white'"></div>
<div class="background-green" *ngIf="theme==='background-green'"></div>


<ul class="background-default" *ngIf="theme==='background-default'">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>



<div class="background-circles" *ngIf="theme==='background-circles'">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>


<ul class="background-filled-squares" *ngIf="theme==='background-filled-squares'">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
