<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/login"></ion-back-button>
        </ion-buttons>
        <ion-title>Forgot my password</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form (ngSubmit)="reset()" [formGroup]="userLogin">
        <ion-card>
            <ion-card-header>
                <ion-card-title>Reset password</ion-card-title>
            </ion-card-header>

            <ion-card-content>
                <ion-item>
                    <ion-label position="stacked">Account email
                        <ion-text color="danger">*</ion-text>
                    </ion-label>
                    <ion-input required="true" type="text" name="email" formControlName="email"
                               placeholder="Type your email"></ion-input>
                </ion-item>

                <div class="ion-margin-vertical">
                    <ion-button [routerLink]="'/login'" expand="block" fill="outline" type="submit" color="secondary">
                        CANCEL
                    </ion-button>
                    <ion-button class="ion-margin-vertical" expand="block" type="submit" color="danger"
                                [disabled]="!userLogin.valid"
                                (click)="resetPassword('a8d@hotmail.fr')">
                        RESET PASSWORD
                    </ion-button>
                </div>
            </ion-card-content>
        </ion-card>
    </form>
</ion-content>
