<ion-content>
  <ion-menu side="start">
    <ion-header>
      <ion-toolbar translucent>
        <ion-title>TODO APP</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>
          <ion-icon name="home" slot="start"></ion-icon>
          <ion-label>Mes tâches</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="person" slot="start"></ion-icon>
          <ion-label>Mon Compte</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="settings" slot="start"></ion-icon>
          <ion-label>Settings</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <div class="ion-page" main>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Mes tâches</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">

<!--      Content of main page is here-->

<!--      Content of main page is here-->


    </ion-content>
  </div>

</ion-content>
