<ion-content>
    <div class="ion-page" main id="side-bar">
        <ion-header>
            <ion-toolbar>
                <ion-buttons slot="start">
                    <ion-menu-button></ion-menu-button>
                </ion-buttons>
                <ion-title>My tasks</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">

            <ion-searchbar placeholder="Search for a task"></ion-searchbar>

            <div *ngFor="let list of todoLists">
                <ion-card class="ion-activatable">
                    <ion-item (click)="openList(list?.id)">
                        <ion-icon name="document" slot="start"></ion-icon>
                        <ion-label>{{ list?.title }}</ion-label>
                        <ion-button click-stop-propagation color="secondary" fill="clear" (click)="presentActionSheet(list?.id)">
                            <ion-icon slot="icon-only" name="settings"></ion-icon>
                        </ion-button>
                    </ion-item>
                    <ion-ripple-effect></ion-ripple-effect>
                </ion-card>
            </div>


<!--            shared LIST-->
            <div *ngFor="let sharedList of sharedLists">
                <ion-card class="ion-activatable">
                    <ion-item (click)="openList(sharedList?.id)">
                        <ion-icon name="people" slot="start"></ion-icon>
                        <ion-label>{{ sharedList?.title }}</ion-label>
                        <ion-button click-stop-propagation color="secondary" fill="clear" (click)="presentActionSheet(sharedList?.id)">
                            <ion-icon slot="icon-only" name="settings"></ion-icon>
                        </ion-button>
                    </ion-item>
                    <ion-ripple-effect></ion-ripple-effect>
                </ion-card>
            </div>
<!--            END shared LIST-->

        </ion-content>


        <ion-footer>
            <ion-toolbar>
                <ion-buttons slot="primary">
                    <ion-button [routerLink]="'/list/add'" color="primary" fill="clear">
                        Create a liste
                        <ion-icon slot="end" name="add"></ion-icon>
                    </ion-button>
                </ion-buttons>
            </ion-toolbar>
        </ion-footer>
    </div>
</ion-content>
