<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref=""></ion-back-button>
        </ion-buttons>
        <ion-title>My account</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <app-theme></app-theme>
    <ion-card class="color-white">
        <ion-card-content>
            <form (ngSubmit)="updateProfil()" [formGroup]="profilForm">
                <ion-grid>
                    <ion-row>
                        <ion-col class="" size-lg="2" size-md="2" size-sm="2" size-xs="12" size="12">
                            <div class="ion-text-uppercase">
                                <ion-avatar class="image-center">
                                    <img class="ion-margin-vertical"
                                         [src]="currentUser?.picture ? domSanitizer.bypassSecurityTrustResourceUrl(currentUser?.picture) : 'https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y'"/>
                                </ion-avatar>
                            </div>
                        </ion-col>
                        <ion-col size-lg="10" size-md="10" size-sm="10" size-xs="12" size="10">
                            <div>
                                <ion-item>
                                    <ion-label position="stacked">Firstname</ion-label>
                                    <ion-input required formControlName="firstName"></ion-input>
                                </ion-item>
                                <ion-item>
                                    <ion-label position="stacked">Lastname</ion-label>
                                    <ion-input required formControlName="lastName"></ion-input>
                                </ion-item>
                                <ion-item>
                                    <ion-label position="stacked">UserName</ion-label>
                                    <ion-input required formControlName="userName"></ion-input>
                                </ion-item>
                            </div>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col class="ion-float-end">
                            <ion-button class="ion-float-right" fill="outline" color="secondary" type="submit"
                                        [disabled]="!profilForm.valid || !currentUser">Edit profil
                            </ion-button>
                            <ion-button type="button" class="ion-float-right" fill="outline"
                                        color="secondary" (click)="presentActionSheet()">Edit picture
                            </ion-button>
                        </ion-col>
                    </ion-row>
                </ion-grid>

            </form>
        </ion-card-content>
    </ion-card>

    <ion-card class="color-white">
        <ion-card-content>
            <ion-list>
                <ion-list-header>
                    <ion-label>
                        Select app theme
                    </ion-label>
                </ion-list-header>

                <ion-item>
                    <ion-label>Theme</ion-label>
                    <ion-select value="default" okText="Select" cancelText="Cancel" [(ngModel)]="selectedTheme"
                                (ngModelChange)="changeTheme()">
                        <ion-select-option value="white">Static White</ion-select-option>
                        <ion-select-option value="green">Static Green</ion-select-option>
                        <ion-select-option selected="default" value="default">Holo squares</ion-select-option>
                        <ion-select-option value="circles">Circles</ion-select-option>
                        <ion-select-option value="filled-squares">Filled squares</ion-select-option>
                    </ion-select>
                </ion-item>

            </ion-list>
        </ion-card-content>
    </ion-card>
    <input type="file" id="loadProfilePicture" (change)="handleFileInput($event)" style="display:none">
</ion-content>
