<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="main"></ion-back-button>
        </ion-buttons>
        <ion-title>Créer une liste</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>


    <ion-card>
        <ion-card-header>
            <ion-card-title>Créer une nouvelle liste</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <ion-item>
                <ion-label position="stacked">Nom de la liste</ion-label>
                <ion-input placeholder="Liste de courses, tâches travail"></ion-input>
            </ion-item>
            <div class="ion-margin-vertical">
                <ion-button expand="block" fill="blank" color="secondary"  [routerLink]="'/main'">Annuler</ion-button> <!--TODO clean input value?-->
                <ion-button expand="block" color="primary">Créer</ion-button>
            </div>
        </ion-card-content>
    </ion-card>

</ion-content>
